/* LOGIN PAGE STYLES */
.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}
.loginContent {
    width: 90%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: #FFF;
    position: relative;
    box-shadow: 0 0px 16px rgba(0,0,0,0.15);
}

.loginContent h1{
    font-size: 30px;
}

.input-group .input-group-text{
    background-color: white;
    height: 30px;
}

.input-group .form-control{
    font-size: 12px;
    height: 30px;
    padding-left: 0;
}
.input-group .form-control:not(.is-invalid) {
    border-left: 1px solid white;
}